nav.navbar {
  position: fixed;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  font-weight: 500;
  text-transform: uppercase;
  mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);

  ul {
    text-align: center;
    width: 100%;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    padding: 0;
    margin: 0;

    li {
      display: inline-block;
      color: black;

      a {
        padding: 20px;
        color: rgba(0, 0, 0, 0.5);
        text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
        display: block;
      }

      a:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
        background: rgba(255, 255, 255, 0.1);
        color: rgba(0, 0, 0, 0.7);
      }
    }

    li:hover {
      color: white;
    }
  }
}

/* applied on less than 320px */
@media only screen and (max-width: 320px) {
  nav.navbar {
    font-size: 12px;
    mask-image: none;

    ul li a {
      padding: 15px 10px;
    }
  }
}