#navbar {
  position: fixed;
  width: 100%;
  z-index: 1;

  // toggle button
  .collapsed .fa-chevron-up,
  .fa-chevron-down
  {
    display: none;
  }
  .collapsed .fa-chevron-down,
  .fa-chevron-up
  {
    display: block;
  }
}